.row
  .columns.small-12
    %ul.inline-list
      %li
        %a{href: '/'} Home
      %li
        %a{href: '/about'} About
      %li
        %a{href: '/legal'} Legal Notices
      %li
        %a{href: 'mailto:contact@travel-meet.com'} Contact
