.row
  .columns.small-12.medium-8
    %ul.inline-list
      %li
        %a{href: '/'} Home
      %li
        %a{href: '/about'} About
      %li
        %a{href: '/terms'} Terms of Service
      %li
        %a{href: '/privacy'} Privacy Policy
      %li
        %a{href: 'mailto:contact@travel-meet.com'} Contact
  .columns.small-12.medium-4
    %span.pull-right
      © Copyright Travel-Meet. All rights reserved

