.contain-to-grid.darker
  %nav.top-bar
    %ul.title-area
      %li.name
        %h1
          %a{href: '/'} Babatrip

    %section.top-bar-section
      %ul.right
        %li
          %a{href: '/'} Home
        %li
          %a{href: '/about'} About
        - if current_user
          %li
            %a.user{href: '/me'}
              = current_user.full_name
              = image_tag current_user.picture_url(width: 28, height: 28)
