.contain-to-grid.top-zone.centered
  .row
    .columns.small-12
      %h2.bigger-title Where are you planning to go?
      %h3.small-title Sign-up now, let your friends know about your trips and discover where do they plan to go!
  - unless current_user
    .row
      %a{href: user_omniauth_authorize_path(:facebook)}
        %img{src: image_path('facebook_login.png')}

.contain-to-grid.main-zone.results
  .row
    .columns.small-4
      %h2.plan Plan your trips
      %p
        When it comes to travel, most of the time, it is hard to decide where to go and with whom. Travel-Meet is here to help you!
        %br
        You can either chose a destination and let your friends know about it, have a look at where they plan to go and ask them to join or contact members of the Travel-Meet community who live in the place you plan to visit. Make the most of Travel-Meet!
    .columns.small-4
      %h2.travel Travel the World
      %p
        Travel is all about sharing! You can travel with friends you already know or travel on your own with the desire to meet locals and making travel a truly experience. 
        %br
        You might suddenly realize that how we connect to others is more powerful than fulfilling the requirements for being cool. 
        %br
        Our life should be measured by experiences rather than things collected.
    .columns.small-4
      %h2.meet Meet new people
      %p
        You'll never be alone with Travel-Meet! You will have a woderful time with both your old friends and people you haven’t met yet.
        %br
        Look through profiles to find local users that share your interests, then contact them to see if they are available to show you around or give you useful tips.
        Gain authentic insights into their way of life and enjoy wonderful, unplanned experiences!
