.contain-to-grid.top-zone.centered
  .row
    .columns.small-12
      %h2.big-logo Travel-Meet
  .row
    .columns.small-12
      %h3.catch-title 
        Discover where your friends are planning to go 
        %br and let the journey begin!
  - unless current_user
    .row
      %a{href: user_omniauth_authorize_path(:facebook)}
        %img{src: image_path('facebook_login.png')}

.contain-to-grid.main-zone.about
  .row
    .columns.small-12.medium-4
      %h2.plan Plan your trips
      %p
        Travel-Meet takes the pain out of planning and opens you up to the spontaneity and excitement that travel should bring. 
        %br
        Simply choose a destination and notify your friends, follow their travel plans and join their adventure, or start a new conversation with locals in the community. 
    .columns.small-12.medium-4
      %h2.travel Travel the World
      %p
        The beauty of travel is in the exchange. Whether it be shared moments with existing friends, or as part of an adventure that forces you to get in contact with a local or other travellers that cross your path.  
        %br
        Travel-Meet offers a springboard for wonderful, unplanned experiences.
              
    .columns.small-12.medium-4
      %h2.meet Meet new people
      %p
        Search profiles of local residents with common interests and connect with them for useful tips, personal recommendations or unique guided tours. 
        %br
        Hop off the tour bus and gain authentic insights into the lifestyle and stories from real people in real places.

.contain-to-grid.secondary-zone.about
  .row
    .columns.small-12.centered
      %h2.medium-title What is your lifestyle like ?
      %h3.small-title We want to make sure that you have a great time with the right person.
  .row.legenda
    .columns.small-12.medium-4
      .row
        .columns.small-6
          %span.picto.big.hippie
        .columns.small-6
          %h2 Hippie
          %p I like bohemian places, having a drink in a park or in the street.
    .columns.small-12.medium-4
      .row
        .columns.small-6
          %span.picto.big.cool
        .columns.small-6
          %h2.hippie Cool
          %p
            I like ordinary places , talking with easygoing people in a cool spot.
              
    .columns.small-12.medium-4
      .row
        .columns.small-6
          %span.picto.big.chic
        .columns.small-6
          %h2.hippie Chic
          %p
            I like chic places, with good music, posh people and a luxury atmosphere.

  .row.legenda
    .columns.small-12.medium-4
      .row
        .columns.small-6
          %span.picto.big.day
        .columns.small-6
          %h2 Day
          %p You are an Early Bird, getting up in the morning to enjoy the city light.
    .columns.small-12.medium-4
      .row
        .columns.small-6
          %span.picto.big.night
        .columns.small-6
          %h2.hippie Night
          %p
            You are a Night Owl, going out at night and sleeping in the morning.
              
    .columns.small-12.medium-4
      .row
        .columns.small-6
          %span.picto.big.allday
        .columns.small-6
          %h2.hippie 24h/7
          %p
            You are always on, visiting the city during the day and having fun at night.
