.contain-to-grid.top-zone.centered
  .row
    .columns.small-12
      %h2.bigger-title Where are you planning to go?
      %h3.small-title Sign up now, share your trips destinations with your friends and let the journey begin!
  - unless current_user
    .row
      %a{href: user_omniauth_authorize_path(:facebook)}
        %img{src: image_path('facebook_login.png')}

.contain-to-grid.main-zone.results
  .row
    .columns.small-4
      %h2.plan Plan your trips
      %p
        Travel-Meet takes the pain out of planning and opens you up to the spontaneity and excitement that travel should bring. 
        %br
        Simply choose a destination and notify your friends, follow their travel plans and join their adventure, or start a new conversation with locals in the community. 
    .columns.small-4
      %h2.travel Travel the World
      %p
        The beauty of travel is in the exchange. Whether it be shared moments with existing friends, or as part of an adventure that forces you to get in contact with a local or other travellers that cross your path.  
        %br
        Travel-Meet offers a springboard for wonderful, unplanned experiences.
              
    .columns.small-4
      %h2.meet Meet new people
      %p
        Search profiles of local residents with common interests and connect with them for useful tips, personal recommendations or unique guided tours. 
        %br
        Hop off the tour bus and gain authentic insights into the lifestyle and stories from real people in real places. 
