.contain-to-grid.top-zone.centered
  .row
    .columns.small-12
      %h2.big-logo Travel-Meet
  .row
    .columns.small-12
      %h3.catch-title 
        Share your travel destination with your friends 
        %br and find out where they are planning to go
  - unless current_user
    .row
      %a{href: user_omniauth_authorize_path(:facebook)}
        %img{src: image_path('facebook_login.png')}
  - if current_user      
    .row
      %a{href: "https://www.facebook.com/travelmeetwebsite"}
        %img{src: image_path('facebook_page.png')}


.contain-to-grid.main-zone.about
  .row
    .columns.small-12.medium-4
      %h2.plan Share your trips
      %p
        Simply choose the destination and time of your next trip and share it with your friends. 
        Travel-Meet opens you up to the spontaneity and excitement that travel should bring. 
        
        
    .columns.small-12.medium-4
      %h2.meet Join your friends
      %p
        Discover where your friends are planning to go and join their adventure, or strike a completely new conversation with friends of friends and locals in the community.
      
              
    .columns.small-12.medium-4
      %h2.travel Travel the World
      %p
        The beauty of travel is in the exchange. Hop off the tour bus, and gain authentic insights into the lifestyle and stories from real people in real places.

.contain-to-grid.secondary-zone.about
  .row
    .columns.small-12.centered
      %h2.medium-title What is your lifestyle ?
      %h3.small-title We want to make sure that you have a great time with the right person.
  .row.legenda
    .columns.small-12.medium-4
      .row
        .columns.small-6
          %span.picto.big.hippie
        .columns.small-6
          %h2 Hippie
          %p I like bohemian places, having a drink in a park or in the street.
    .columns.small-12.medium-4
      .row
        .columns.small-6
          %span.picto.big.cool
        .columns.small-6
          %h2.hippie Cool
          %p
            I like ordinary places , talking with easygoing people in a cool spot.
              
    .columns.small-12.medium-4
      .row
        .columns.small-6
          %span.picto.big.chic
        .columns.small-6
          %h2.hippie Chic
          %p
            I like chic places, with good music, posh people and a luxury atmosphere.

  .row.legenda
    .columns.small-12.medium-4
      .row
        .columns.small-6
          %span.picto.big.day
        .columns.small-6
          %h2 Day
          %p You are an Early Bird, getting up in the morning to enjoy the city light.
    .columns.small-12.medium-4
      .row
        .columns.small-6
          %span.picto.big.night
        .columns.small-6
          %h2.hippie Night
          %p
            You are a Night Owl, going out at night and sleeping in the morning.
              
    .columns.small-12.medium-4
      .row
        .columns.small-6
          %span.picto.big.allday
        .columns.small-6
          %h2.hippie 24h/7
          %p
            You are always on, visiting the city during the day and having fun at night.
