.contain-to-grid.top-zone.centered
  .row
    .columns.small-12
      %h2.bigger-title Travel-Meet
      %h3.small-title Coming soon.
  
  .row
    %a{href: "https://www.facebook.com/travelmeetwebsite"}
    %img{src: image_path('facebook_page.png')}

