.contain-to-grid
  .row
    .columns.small-12.plaintext
      %h1 Travel-Meet Privacy Policy
      %p.p1
        Effective Date: February 6, 2014
        %br/
      %p.p1 This Privacy Policy describes the information Travel-Meet collects about you, how we use and share that information and the privacy choices we offer. This Privacy Policy applies to information we collect when you use our website.
      %p.p1 
        You should read this privacy policy because it will tell you exactly how your personal data is being looked after by Travel-Meet and that’s a pretty important thing for you to know. Here are the topics that we cover:
        
      %ol.ol1
        %li.li2
          What information we collect and how we collect it
          
        %li.li2
          How we use the information and who we share it with
          
        %li.li2
          How you can access and update such information
          
        %li.li2
          How we protect the information we store about you
          
      %p.p1 
        Who we are
        
      %p.p1 
        Travel-Meet is located in France at 5 rue Constant Berthaut, 75020 PARIS.
        
      %p.p1 
        When you access or use Travel-Meet, you agree to our Privacy Policy and you consent to our collection, storage, use and disclosure of your personal information as we’ve set out in this Policy. Travel-Meet reserves the right to change our Policy at any time and without notice, so be sure to check this Policy regularly to understand how we use your information.
        
      %p.p1 
        IF YOU DO NOT ACCEPT AND AGREE WITH OUR PRIVACY POLICY THEN YOU MUST NOT ACCESS OR USE THE APPLICATION.
        
      %p.p1 
        %br/
      %h5  
        1. Travel-Meet users
        
      %p.p1 
        What information does Travel-Meet collect if I decide to join the Travel-Meet social community?
        
      %p.p1 
        Travel-Meet is a meeting place for locals and travellers, who are adults (>18) and we provide that service by operating a social network application through Facebook offering users the opportunity to connect to our global community of users. To join the Travel-Meet network you will have to install the Facebook application and authorise the following permissions:
        
      %p.p1 
        Basics, My location, List of friends, Friends location.
        
      %p.p1 
        What information does Travel-Meet collect about me if I’m under 18?
        
      %p.p1 
        You can only become a member of Travel-Meet if your aged 18 or over or the age of majority in the country in which you reside if that happens to be greater than 18. That means Travel-Meet does not knowingly collect any information about children, minors or anyone under the age of majority. Nor do we knowingly market to children, minors or anyone under the age of 18. If you are less than 18 years old, we request that you do not submit information to us. If we become aware that a child, minor or anyone under the age of 18 has registered with us and provided us with personal information, we will take steps to terminate that person’s registration and delete their Profile information from Travel-Meet. If we do delete a Profile because you violated our no children rules, we may retain your email and IP address to ensure that you do not try to get around our rules by creating a new Profile.
        
      %p.p1 
        If I put other information about me in the application, what does Travel-Meet do with it?
        
      %p.p1 
        Travel-Meet is designed to make it easy for you to find, connect and interact with other members of Travel-Meet by posting information about yourself. We recommend and encourage you (and all our members) to think carefully about the information they disclose about themselves. We also do not recommend that you put email addresses, URLs, instant messaging details, phone numbers, full names or addresses, credit card details, national identity numbers, drivers’ licence details and other sensitive information in your Profile which is open to abuse and misuse. Please be careful about posting sensitive details about yourself on your Profile such as your religious denomination and health details.
        
      %p.p1 
        When you post information about yourself or use the messaging, the amount of personal information you share is at your own risk. If you post anything that is inconsistent with our Terms and Conditions of Use, we reserve the right to terminate your account.
        
      %p.p1 
        Does Travel-Meet collect any other personal information about me?
        
      %p.p1 
        If you contact our Customer Support team via Feedback link our contact email, we will receive your email address, and may track your IP address as well as the information you send to us to help resolve your query. We will keep records of our communications with you, including any complaints that we receive from you about other users (and from other users about you).
        
      
      %br/
      %h5 
        2. Friends and other Travel-Meet users
        
      %p.p1 
        When I put information about myself on Travel-Meet, what do the other users see?
        
      %p.p1 
        To ensure you get to meet as many locals/travellers, other members get to see your user name, your city, your availabilities and any information you post on your Profile. Any information you choose to provide should reflect how much you want other Travel-Meet members to know about you.
      
      %p.p1 
        What am I allowed to do with other user’s personal information?
        
      %p.p1 
        Use it to meet locals/travellers and enjoy this new way of travelling! Beware that you may not use other users' information for commercial purposes, to spam, to harass, or to make unlawful threats. Travel-Meet reserves the right to terminate the accounts of those who misuse other users' information or who otherwise violate the Terms and Conditions of Use.
        
      %br/
      %h5  
        3. Third parties
        
      %p.p1 
        Does Travel-Meet sell my information to other parties?
        
      %p.p1 
        Not at all. We do not sell or rent out any personal information about you to any third party. Travel-Meet discloses aggregated non-personal data for marketing and promotional purposes. That means we do not disclose any information that could be used to identify you.
        
      %p.p1 
        Does Travel-Meet disclose my information to other parties?
        
      %p.p1 
        We may share aggregated information that includes your personal information (but which doesn’t identify you directly), together with other information including log data with third parties for industry analysis and demographic profiling and to deliver targeted advertising about other products and services. In particular, in relation to targeted advertising, we use third-party advertising companies to serve ads when you visit our Website. These companies may use information about your visits to this and other websites in order to provide advertisements about goods and services of interest to you. Travel-Meet also wishes to maintain a healthy community, and we will cooperate with all law enforcement inquiries and with all third parties to enforce their intellectual property or other rights. We may also disclose your personal information to government or law enforcement agencies, or private parties, as required by law when/or, in our sole discretion, we believe that disclosure is necessary to protect our legal rights, or those of third parties and/or to comply with a judicial proceeding, court order, or legal process served on us. In the event that Travel-Meet or any of its affiliates undergoes a business transition or change of ownership, such as a merger, acquisition by another company, re-organisation, or sale of all or a portion of its assets, or in the event of insolvency or administration, we may be required to disclose your personal information.
        
      %br/
      %h5  
        4. Data storage
        
      %p.p1 
        Where is my personal information kept?
        
      %p.p1 
        Travel-Meet is a global application operating through server located in France. If you live in a country with data protection laws, the storage of your personal data may not provide you with the same protections as you enjoy in your country of residence. By submitting your personal information, or by choosing to upgrade the services you use, or by making use of the applications available on Travel-Meet, you agree to the transfer of your personal information to, and storage and processing of your personal information in, any such countries and destinations.
        
      %br/
      %h5  
        5. Security
        
      %p.p1 
        How does Travel-Meet protect my personal information?
        
      %p.p1 
        Travel-Meet has implemented reasonable and appropriate security measures to protect and prevent the loss, misuse, and alteration of the information under our control, including your personal information. Travel-Meet uses reasonable security measures to safeguard the confidentiality of your personal information such as secured servers using firewalls. Our technical experts at Travel-Meet work hard to ensure your secure use of our site.
        
      %p.p1 
        While we take reasonable precautions against possible security breaches of our application, member database and records no website or Internet transmission is completely secure and we cannot guarantee that unauthorised access, hacking, data loss, or other breaches will never occur. We urge you to take steps to keep your personal information safe (including your password) and to log out of your account after use.
        
      %p.p1 
        We cannot guarantee the security of your personal data while it is being transmitted to our site and any transmission is at your own risk. Once we have received your information we have procedures and security features in place to try to prevent unauthorised access.
        
      %br/
      %h5  
        6. Your rights
        
      %p.p1 
        How do I change my Profile?
        
      %p.p1  You can review and revise your profile information at any time. As soon as you are on the application, you will be able to review and edit your profile.
      %p.p1 
        Users in certain jurisdictions are, in accordance with applicable law, entitled to exercise a right of access to personal information about themselves by asking for a copy of the information we hold about them (for which, where allowed by law, we may charge a small fee). Please put any such request in writing and using our contact email or using the contact function.
        
      %p.p1 
        Can I delete my Profile?
        
      %p.p1 
        If yu want to delete your profile please send a message to 
        %a{href: "mailto:contact@travel-meet.com"} contact@travel-meet.com
        
      
