.contain-to-grid
  .row
    .columns.small-12.plaintext
      %h1 Travel-Meet Terms of Use
      %p.p1 Last updated: 17/01/2014
      %p.p1 PLEASE READ THESE TERMS OF USE CAREFULLY. BY CLICKING “SIGN UP” OR BY ACCESSING OR USING THE SERVICES, YOU AGREE TO BE BOUND BY THESE TERMS OF USE AND ALL TERMS INCORPORATED BY REFERENCE. IF YOU DO NOT AGREE TO ALL OF THESE TERMS, DO NOT ACCESS OR USE THE SERVICES.
      %p.p1 These Terms of Use ( “Terms” ) apply to your access to and use of any website, or other online or mobile product or service (collectively, the “Services” ) of Travel-Meet.com ( “Travel-Meet.com", “we” or “us” ). If you are using the Services on behalf of any entity, you represent and warrant that you are authorized to accept these Terms on such entity’s behalf and that such entity will be responsible for your violation of these Terms. Failure to use our Services in accordance with these Terms may result in, among other things, termination or suspension of your rights to use the Services and may subject you to legal action by Travel-Meet and/or severe civil and/or criminal penalties.
      %p.p1 We reserve the right to make changes or modifications to these Terms, or any policy or guideline of our Services, at any time and in our sole discretion. Any changes or modifications will be effective immediately upon posting the revisions on our Services, and you waive any right you may have to receive specific notice of such changes or modifications. Your continued use of our Services following the posting of changes or modifications will constitute your acceptance of such changes or modifications. Accordingly, you should frequently review these Terms and applicable policies and guidelines to understand the terms and conditions that apply to your use of the Services.
      %p.p1 Please refer to our Privacy Policy for information about how Travel-Meet collects, uses and discloses information about our members. In addition, by accessing or using our Services, you agree to adhere to the Community Guidelines.
      %p.p1 Please Contact Us with any questions regarding these Terms. You can contact us by mail at Travel-Meet 5, rue Constant Berthaut 75020 Paris.
      %p.p1
        The Travel-Meet “Services” refer to our website(s) as well as any other products or services that we may create in the future. Please remember to read our Privacy Policy, which explains what information we collect about you and how we use and share that information.
        %br/
      %ol.ol1
        %li.li1
          ELIGIBILITY, REGISTRATION AND ACCOUNT
          %br/
          You must be at least 18 years old to access or use the Services. By registering to use our Services, you represent that you are at least 18 years old.
          %p.p1 In order to access certain areas and features of our Services, you will need to register for an account. You agree to (a) create a unique password that you do not use with any other online product or service; (b) provide accurate, truthful, current and complete information when creating an account; (c) maintain and promptly update your account information upon any changes; (d) maintain the security of your account by protecting your password and restricting access to your account; (e) promptly notify Travel-Meet if you discover or otherwise suspect any security breaches related to the Services; and (f) take responsibility for all activities that occur under your account and accept all risks of any authorized or unauthorized access.
        %li.li1
          THIRD PARTY TERMS
          %br/
          Travel-Meet may offer the opportunity to purchase products and services from third parties. You acknowledge that such products and services are offered and sold to you by one or more third parties. For more information, please refer to the applicable third party’s terms of sale and privacy policy that are presented as part of the checkout process.
        %li.li1
          INTERACTIONS WITH OTHER MEMBERS
          %br/
          3.1 You Have Sole Responsibility When Interacting with Other Members. Our Services provide a platform for members to learn about one another, arrange stays and travel, engage in activities and communicate with one another. Travel-Meet is not a party to, has no involvement or interest in, makes no representations or warranties as to, and has no responsibility or liability with respect to any communications, transactions, interactions, disputes or any relations whatsoever between you and any other member, person or organization. You are solely responsible for your interactions with other members of our Services. We reserve the right, but have no obligation, to monitor interactions between you and other members of our Services.
          %p.p1
            Remember, the Travel-Meet Services are just a platform that enable you to communicate and interact with other people around the world. We cannot be responsible for the interactions that you have with other Travel-Meet members, so please use good judgment and keep safety in mind when you use our Services.
            %br/
            3.2 Identity Verification. We cannot and do not confirm each member’s identity. Travel-Meet does not represent or warrant that our tools are sufficient to determine whether it is appropriate for you to interact with another member. Further, we do not endorse any persons who use or register for our Services. We do not investigate or verify any member’s reputation, conduct, morality, criminal background, or any information members may submit to the Services. We encourage you to take precautions when interacting with other members, particularly when meeting a stranger in person for the first time.
          %p.p1 3.3 Member-Hosted Events; Travel-Meet Ambassadors. Members may organize in-person meetings and host events for other Travel-Meet members; however, these events are not sponsored or endorsed by Travel-Meet and members attend such meetings and events at their own risk. In addition, Travel-Meet members may sign up to become Travel-Meet Ambassadors (or members of a successor program) and contribute their time to activities that support the Travel-Meet community, such as meeting new members, organizing events and answering questions. Travel-Meet Ambassadors (or members of a successor program) are not agents of Travel-Meet and Travel-Meet is not responsible or liable for any acts or omissions of these members.
          %p.p1 3.4 Release. Because our Services are merely a platform, in the event that you have a dispute with one or more members, you release us (and our officers, directors, members, employees, agents and affiliates) from claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes.

        %li.li1 
          MEMBER CONDUCT AND CONTENT 
          %br/
          The Services include interactive areas where you or other members can create, post or store content, messages, data, information, text, or other items or materials on the Services (collectively, “Member Content” ). You are solely responsible for your use of such interactive areas and agree that your use of these areas is at your own risk.
          %p.p1 4.1 Member Content Restrictions. You are solely responsible for any Member Content that you submit, post or transmit via our Services. You agree not to post, upload to, transmit, distribute, store, create or otherwise publish through the Services, Member Content that we believe, in our sole discretion:
          %p.p1 (a) is unlawful, libelous, defamatory, harassing, threatening, invasive of privacy or publicity rights, or that would otherwise create liability or violate any local, state, national or international law;
          %p.p1 (b) contains nudity, sexually explicit content or is otherwise obscene, pornographic, indecent, lewd, suggestive or sexually exploitative of minors;
          %p.p1 (c) may disparage any ethnic, racial, sexual or religious group by stereotypical depiction or is otherwise abusive or inflammatory;
          %p.p1 (d) depicts the use of illicit drugs;
          %p.p1 (e) contains offensive language or images or is otherwise objectionable;
          %p.p1 (f) incites violence or characterizes violence as acceptable, glamorous or desirable;
          %p.p1 (g) contains unsolicited promotions, political campaigning, advertising or solicitations, without our prior written consent;
          %p.p1 (h) contains private or personal information about another person, unless such person has agreed to the disclosure of this information;
          %p.p1 (i) contains viruses, corrupted data or other harmful, disruptive or destructive file viruses, cancel bots, Trojan horses, harmful code, flood pings, denial-of-service attacks, packet or IP spoofing, forged routing or electronic mail address information or similar methods or technology;
          %p.p1 (j) may infringe any patent, trademark, trade secret, copyright or other intellectual or proprietary right of any party. By posting Member Content, you represent and warrant that you have the lawful right to distribute and reproduce such Member Content; or
          %p.p1 (k) would constitute, encourage or provide instructions for a criminal offense or violate the rights of any third party.
          %p.p1 Travel-Meet is not responsible for any Member Content that you or other members post, transmit or store through the Services. We have no obligation to post Member Content from you or anyone else and we may, in our sole discretion, edit, remove or delete any Member Content without notice.
          %p.p1 4.2 Member Conduct. By accessing or using the Services, you agree to act responsibly, exercise good judgment and comply with the Community Guidelines. In addition, you agree not to:
          %p.p1 (a) use the Services in violation of any applicable law or regulation, including promoting or encouraging any illegal activity;
          %p.p1 (b) infringe the rights of any third party, including without limitation, intellectual property, privacy, publicity or contractual rights;
          %p.p1 (c) use the Services in any manner that could interfere with, disrupt, negatively affect or inhibit other members from fully enjoying the Services or that could damage, disable, overburden or impair the functioning of the Services in any manner;
          %p.p1 (d) use our Services in connection with the distribution of spam (which we define as unsolicited bulk e-mail or any other unsolicited messages of a commercial, religious, romantic, political or other nature not within the intended purposes of the Services);
          %p.p1 (e) stalk, intimidate, threaten or otherwise harass or cause discomfort to any other member of our Services;
          %p.p1 (f) collect or store any information about any other member other than as permitted on our Services;
          %p.p1 (g) use our Services for any commercial purpose whatsoever, unless with prior written consent from Travel-Meet;
          %p.p1 (h) register for more than one member account;
          %p.p1 (i) impersonate any person or entity, or falsify or otherwise misrepresent yourself or your affiliation with any person or entity, whether by providing or omitting to provide information;
          %p.p1 (j) circumvent or attempt to defeat any security or verification measure relating to use of the Services;
          %p.p1 (k) hold yourself out as an agent, representative, employee or affiliate of Travel-Meet, including but not limited to when you host an event for other Travel-Meet members or sign up to be a Travel-Meet Ambassador; or
          %p.p1 (l) assist any third party in doing any of the foregoing.
          %p.p1 4.3 Member Content License. You own all of the Member Content that you post to our Services. If you post Member Content to our Services, you hereby grant us a perpetual, worldwide, irrevocable, non-exclusive, royalty-free and fully sublicensable license to use, reproduce, display, perform, adapt, modify, create derivative works from, distribute, have distributed and promote such Member Content in any form, in all media now known or hereinafter created (including in emails or other communications to our members) to administer, operate, develop and otherwise provide the Travel-Meet Services. You represent and warrant that (a) you own and control all of the rights to the Member Content that you post or you otherwise have the right to post such Member Content to the Services; (b) the Member Content is accurate and not misleading; and (c) the use and posting of the Member Content you supply does not violate these Terms and will not violate any rights of or cause injury to any person or entity.
          %p.p1
          You own the Member Content that you post to our Services. If Member Content contains information about you, our Privacy Policy will apply, and we encourage you to review this policy for information about how we can use and share such information.
          %br/
        %li.li1 
          SUBMISSIONS
          %br/
          Separate and apart from Member Content, we welcome questions, comments, suggestions and ideas about Travel-Meet and our Services ( “Submissions” ). If you provide a Submission, whether by email or otherwise, you agree that it is non-confidential (unless Travel-Meet states otherwise in writing) and shall become the sole property of Travel-Meet. Travel-Meet shall own exclusive rights, including all intellectual property rights, and shall be entitled to the unrestricted use and dissemination of Submissions for any purpose, commercial or otherwise. You acknowledge that Travel-Meet is not obligated to provide acknowledgment or compensation to you in exchange for Submissions

        %li.li1 
          COPYRIGHT AND LIMITED LICENSE
          %br/ 
          Unless otherwise indicated, the Services and all content and other materials on the Services, including, without limitation, the Travel-Meet logo, and all designs, text, graphics, pictures, videos, information, data, software, sound files and other files, and the selection and arrangement thereof, (collectively, the “Travel-Meet Materials” ) are the proprietary property of Travel-Meet and international copyright laws.
          %p.p1 You are granted a limited, non-exclusive and non-sublicensable license to access and use the Services and Travel-Meet Materials; however, such license is subject to these Terms and does not include: (a) any resale or commercial use of the Services or the Travel-Meet Materials; (b) the distribution, public performance or public display of any Travel-Meet Materials; (c) modifying or otherwise making any derivative uses of the Services and the Travel-Meet Materials, or any portion thereof, unless modification or derivative use is specifically provided for under separate terms; (d) use of any data mining, robots or similar data gathering or extraction methods; (e) downloading (other than the page caching) of any portion of the Services, the Travel-Meet Materials or any information contained therein, except as expressly permitted on the Services; or (f) any use of the Services or the Travel-Meet Materials other than for their intended purposes. Any use of the Services or the Travel-Meet Materials other than as specifically authorized herein, without the prior written permission of Travel-Meet, is strictly prohibited and will terminate the license granted herein. Such unauthorized use may also violate applicable laws, including without limitation copyright and trademark laws. Unless explicitly stated herein, nothing in these Terms shall be construed as conferring any license to intellectual property rights, whether by estoppel, implication or otherwise. This license is revocable at any time.
    
        %li.li1
          REPEAT INFRINGER POLICY
          %br/
          In accordance with the Digital Millennium Copyright Act (“DMCA”) and other applicable law, Travel-Meet has adopted a policy of terminating, in appropriate circumstances and in Travel-Meet’s sole discretion, members who are deemed to be repeat infringers. Travel-Meet may also, in our sole discretion, terminate the accounts of any members who we believe may infringe any intellectual property rights of others, whether or not there is any repeat infringement.
        %li.li1
          TRADEMARKS
          %br/
          “Travel-Meeter,” “Travel-Meet,” the Travel-Meet logos and any other Travel-Meet service name or slogan contained on the Services are trademarks of Travel-Meet and may not be copied, imitated or used, in whole or in part, without the prior written permission of Travel-Meet or the applicable trademark holder. You may not use any metatags or any other “hidden text” utilizing "Travel-Meet” or any other name, trademark or product or service name of Travel-Meet without our prior written permission. In addition, the look and feel of the Services, including all page headers, custom graphics, button icons and scripts, are the service mark, trademark and/or trade dress of Travel-Meet and may not be copied, imitated or used, in whole or in part, without our prior written permission. All other trademarks, registered trademarks, product names and names or logos mentioned in the Services are the property of their respective owners. Reference to any products, services, processes or other information, by trade name, trademark, manufacturer, supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation thereof by us. Any authorized use of these trademarks must be in accordance with guidelines that Travel-Meet may provide you from time to time, including the Travel-Meet Trademark Policy
          %p.p1 Our logo and the terms “Travel-Meet” and “Travel-Meeter”, as well as other terms and visual elements that you might see throughout the Travel-Meet Services, are protected trademarks. H
        %li.li1
          HYPERLINKS
          %br/
          You are granted a limited, non-exclusive right to create a text hyperlink to the Services, provided such link does not portray Travel-Meet or any of our services in a false, misleading, derogatory or otherwise defamatory manner and provided further that the linking site does not contain any adult or illegal material or any material that is offensive, harassing or otherwise objectionable. This limited right may be revoked at any time. You may not use a Travel-Meet logo or other proprietary graphic of Travel-Meet to link to the Services without the express written permission of Travel-Meet. Further, you may not use, frame or utilize framing techniques to enclose any Travel-Meet trademark, logo or other proprietary information, including the images found on the Services, the content of any text or the layout/design of any page or form contained on a page of the Services without Travel-Meet’s express written consent. Except as noted above, you are not conveyed any right or license by implication, estoppel or otherwise in or under any patent, trademark, copyright or other proprietary right of Travel-Meet or any third party.
        %li.li1
          THIRD-PARTY CONTENT
          %br/
          In using our Services, you may be exposed to content from other members or third parties ( “Third-Party Content” ), either on our Services or through links to third-party websites. We do not control, endorse or adopt any Third-Party Content and shall have no responsibility for Third-Party Content, including without limitation material that may be misleading, incomplete, erroneous, offensive, indecent or otherwise objectionable. You must evaluate, and bear all risks associated with, Third-Party Content, including without limitation, profiles of other members of our Services.
          %p.p1 We incorporate Google Maps into the Services as a convenience to you. By using this feature of the Services, you agree to be bound by Google’s Terms of Use.
        %li.li1
          TERMINATION 
          %br/
          We may, in our discretion and without liability to you, with or without cause (such cause may include your breach of these Terms), with or without prior notice and at any time: (a) terminate your access to our Services, (b) deactivate or delete your account and all related information and files in such account and/or (c) bar your access to any of such files or Services. In any of these instances, you are not permitted to register for another Travel-Meet account without our prior written permission.
          %p.p1
            In rare circumstances, when we feel it is necessary to protect the safety or the well being of the Travel-Meet community, we will remove a member’s account from our Services. We don’t take this decision lightly, but it is sometimes required.
            %br/
        %li.li1    
          DISCONTINUANCE OF SERVICES
          %br/
          We may, in our discretion and without liability to you, with or without prior notice and at any time, modify or discontinue, temporarily or permanently, any portion of our Services.
          %ol.ol1
        %li.li1 
          MEMBER’S REPRESENTATIONS AND WARRANTIES 
          %br/
          13.1. You hereby represent and warrant that you have the full power and authority to enter into and perform under these Terms. If you are using our Services on behalf of any entity, you represent and warrant that you are authorized to accept these Terms on such entity’s behalf.
          %p.p1 13.2. You hereby represent and warrant that you will use our Services in a manner consistent with any and all applicable local, state, national and international laws and regulations, including, but not limited to, United States export-control laws.
          %p.p1 13.3. If you are (a) located in, under the control of, or a national or resident of any country to which the United States has embargoed goods or services, (b) identified as a “Specially Designated National”, or (c) placed on the Commerce Department’s Denied Persons List, you represent and warrant that you will not engage in financial transactions with, or commercial activities on, Travel-Meet (including making payments in connection with any identity verification tools provided by Travel-Meet). Without limiting the foregoing, you are solely responsible for determining whether you have complied with travel restrictions to and from certain countries, including travel to and from countries other than the U.S.
          %p.p1 13.4. You hereby represent and warrant that you will not use the Services if the laws of your country prohibit you from doing so in accordance with these Terms (for example, if you are not allowed to provide the types of personal information that we require or if you are prohibited from participating in certain Internet activity). By using the Services, you represent and warrant that such use will not violate, or cause us to violate, the laws of your country.
        %li.li1 
          DISCLAIMER OF WARRANTIES 
          %br/
          14.1. IF YOU USE OUR SERVICES, YOU DO SO AT YOUR SOLE RISK. OUR SERVICES ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. WE EXPRESSLY DISCLAIM, AND YOU WAIVE, ALL OTHER WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT AS TO THE SERVICES, INCLUDING THE INFORMATION, CONTENT AND MATERIALS CONTAINED THEREIN.
          %p.p1 14.2. WE DO NOT REPRESENT OR WARRANT THAT (A) OUR SERVICES WILL MEET YOUR REQUIREMENTS; (B) OUR SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE; (C) ANY INFORMATION THAT YOU MAY OBTAIN THROUGH OUR SERVICES WILL BE ACCURATE OR RELIABLE; (D) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH OUR SERVICES WILL MEET YOUR EXPECTATIONS; (E) ANY INFORMATION YOU PROVIDE OR WE COLLECT WILL NOT BE DISCLOSED TO THIRD PARTIES; OR (F) ANY ERRORS IN ANY DATA OR SOFTWARE WILL BE CORRECTED.
          %p.p1 14.3. IF YOU ACCESS OR TRANSMIT ANY CONTENT THROUGH THE USE OF OUR SERVICES, YOU DO SO AT YOUR OWN DISCRETION AND YOUR SOLE RISK. YOU ARE SOLELY RESPONSIBLE FOR ANY LOSS OR DAMAGE ARISING OUT OF SUCH ACCESS OR TRANSMISSION; THEREFORE, YOU SHOULD USE INDUSTRY-RECOGNIZED SOFTWARE TO DETECT AND DISINFECT VIRUSES FROM ANY DOWNLOAD.
          %p.p1 14.4. NO DATA, INFORMATION OR ADVICE OBTAINED BY YOU IN ORAL OR WRITTEN FORM FROM US OR THROUGH OR FROM OUR SERVICES WILL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THESE TERMS.
        %li.li1 
          LIMITS ON LIABILITY 
          %br/
          15.1. IN NO EVENT SHALL TRAVEL-MEET, OR OUR DIRECTORS, MEMBERS, EMPLOYEES OR AGENTS BE LIABLE FOR ANY DIRECT, SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES, OR ANY OTHER DAMAGES OF ANY KIND, INCLUDING, BUT NOT LIMITED TO LOSS OF USE, LOSS OF PROFITS OR LOSS OF DATA, WHETHER IN AN ACTION IN CONTRACT, TORT (INCLUDING BUT NOT LIMITED TO NEGLIGENCE) OR OTHERWISE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, ARISING FROM OR RELATING TO: (A) THE USE OR INABILITY TO USE OUR SERVICES; (B) THE COST OF REPLACEMENT OF ANY GOODS, SERVICES OR INFORMATION PURCHASED OR OBTAINED AS A RESULT OF ANY INFORMATION OBTAINED FROM OR TRANSACTIONS ENTERED INTO THROUGH OR FROM OUR SERVICES; (C) DISCLOSURE OF, UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR CONTENT; (D) DAMAGES FOR LOSS OR CORRUPTION OF DATA OR PROGRAMS, SERVICE INTERRUPTIONS OR PROCUREMENT OF SUBSTITUTE SERVICES, EVEN IF WE KNOW OR HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES; (E) STATEMENTS, CONDUCT OR OMISSIONS OF ANY SERVICE PROVIDERS OR OTHER THIRD PARTY ON OUR SERVICES; (F) YOUR OR ANYONE ELSE’S CONDUCT OR ACTS IN CONNECTION WITH THE USE OF THE SERVICES, INCLUDING WITHOUT LIMITATION, BODILY INJURY, EMOTIONAL DISTRESS, DEATH OR ANY OTHER DAMAGES RESULTING FROM COMMUNICATIONS OR MEETINGS WITH OTHER REGISTERED MEMBERS OF OUR SERVICES OR PERSONS INTRODUCED TO YOU BY OUR SERVICES, WHETHER ON-LINE OR OFF-LINE; OR (G) ANY OTHER MATTER ARISING FROM, RELATING TO OR CONNECTED WITH OUR SERVICES OR THESE TERMS.
          %p.p1 15.2. WE SHALL NOT BE LIABLE FOR ANY FAILURE OR DELAY IN PERFORMING UNDER THESE TERMS, WHETHER OR NOT SUCH FAILURE OR DELAY IS DUE TO CAUSES BEYOND OUR REASONABLE CONTROL.
          %p.p1 15.3. IN NO EVENT WILL OUR AGGREGATE LIABILITY TO YOU OR ANY THIRD PARTY IN ANY MATTER ARISING FROM OR RELATING TO OUR SERVICES OR THESE TERMS EXCEED THE SUM OF ONE HUNDRED EUROS (€100).
          %p.p1 15.4. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE LIMITATIONS OF SECTIONS 16 AND 17 MAY NOT APPLY TO YOU.
        %li.li1
          INDEMNITY
          %br/
          You shall defend, indemnify and hold harmless Travel-Meet (and each of our officers, directors, members, employees, agents and affiliates) from any claim, demand, action, damage, loss, cost or expense, including without limitation reasonable attorneys’ fees, arising out of or relating to (a) your use of our Services; (b) any Member Content or Submissions you provide; (c) your violation of these Terms; (d) your violation of any rights of another; or (e) your conduct in connection with the Services. Further, if you are using the Services on behalf of any entity, you represent and warrant that such entity agrees to indemnify you and Travel-Meet for violations of these Terms in accordance with this Section. If you are obligated to indemnify us, we will have the right, in our sole and unfettered discretion, to control any action or proceeding and determine whether we wish to settle it, and if so, on what terms.
        %li.li1
          REPORTING MISCONDUCT
          %br/
          If you interact with anyone through our Services who you feel is acting or has acted inappropriately, including but not limited to offensive, violent or sexually inappropriate behavior, who steals from you or engages in any other disturbing conduct, we strongly encourage you to immediately report such person to the appropriate authorities and to us by contacting
          = succeed "." do
            %a{href: "mailto:contact@travel-meet.com"}
              %span.s1 contact@travel-meet.com
        %li.li1
          DISPUTES.
          %br/
          PLEASE READ THE FOLLOWING PARAGRAPH CAREFULLY BECAUSE IT REQUIRES YOU TO ARBITRATE DISPUTES WITH TRAVEL-MEET AND IT LIMITS THE MANNER IN WHICH YOU CAN SEEK RELIEF.
          %p.p1 You and Travel-Meet agree to arbitrate any dispute arising from these Terms or relating to the Services, except that you and Travel-Meet are not required to arbitrate any dispute in which either party seeks equitable or other relief for the alleged unlawful use of copyrights, trademarks, trade names, logos, trade secrets or patents. ARBITRATION PREVENTS YOU FROM SUING IN COURT OR FROM HAVING A JURY TRIAL. You and Travel-Meet agree that you will notify each other of any dispute within thirty (30) days of when it arises, that you will attempt informal resolution prior to any demand for arbitration, that any arbitration will occur in Paris, France and that arbitration will be conducted confidentially by a single arbitrator.
          
        %li.li1 
          MISCELLANEOUS.
          %br/ 
          19.1 Assignment. You may not assign any of your rights or obligations under these Terms without prior written consent from Travel-Meet. Travel-Meet may assign any or all of its rights under these Terms, in whole or in part, without obtaining your consent or approval.
          %p.p1 19.2 Entire Agreement. These Terms contain the entire agreement, and supersede all prior and contemporaneous understandings, between the parties regarding their subject matter.
          %p.p1 19.3 Waiver. Our failure or delay in exercising any right, power or privilege under these Terms shall not operate as a waiver thereof.
          %p.p1 19.4 Severability. The invalidity or unenforceability of any of these Terms shall not affect the validity or enforceability of any other of these Terms, all of which shall remain in full force and effect.
          %p.p1 19.5 Assignment. You may not assign any of your rights or obligations under these Terms without prior written consent from Travel-Meet. Travel-Meet may assign any or all of its rights under these Terms, in whole or in part, without obtaining your consent or approval.
          %p.p1 19.6 Headings. Headings of sections are for convenience only and shall not be used to limit or construe such sections.
          %p.p2 19.7 Survival. Sections 3.5 (Release), 4 (Member Conduct and Content), 5 (Submissions), 9 (Trademarks), 11 (Third-Party Content), 14 (Member’s Representations and Warranties), 15 (Disclaimer of Warranties), 16 (Limits on Liability), 17 (Indemnity), 19 (Disputes), and this Section 20 (Miscellaneous) shall survive any termination or expiration of these Terms.
