- collection.each do |item|
  .columns.small-4
    = radio_button_tag name, item, (value == item), :class => 'hidden-field', :required => true
    %span{:class => "custom checkbox picto #{item.downcase.gsub(' ', '')} #{(value == item) ? selected_class : ''}"}
    %label.collection_check_boxes
      = item
