/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree
 *= require foundation_and_overrides
 *= require font-awesome
 *= require chosen
 *= require_self
 *= depend_on_asset "logo.svg"
 *= depend_on_asset "allday.svg"
 *= depend_on_asset "chic.svg"
 *= depend_on_asset "cool.svg"
 *= depend_on_asset "couple.svg"
 *= depend_on_asset "day.svg"
 *= depend_on_asset "hippie.svg"
 *= depend_on_asset "night.svg"
 *= depend_on_asset "single.svg"
 */

 /*

 Sticky Footer by Ryan Fait
 http://ryanfait.com/

 */

html, body {
  height: 100%;
}
a {
  color: #ff4e96;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -62px; /* the bottom margin is the negative value of the footer's height */
  background: image-url('bg-friends.jpg') no-repeat top center fixed;
  background-size: cover;
  @media only screen and (max-width: 40em) { 
    margin: 0 auto -152px;
  }
}
.footer, .push {
  height: 62px; /* .push must be the same height as .footer */
  z-index: 1000;

  @media only screen and (max-width: 40em) { 
    height: 152px;
  }

  a, span {
    margin-top: 3px;
    line-height: 42px;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    &:hover {
      color: white;
    }
  }
  
}


body {
  color: white;
}

.contain-to-grid {
    background: none;
}

.halfleft {
    position: relative;
    left: -30px;

    @media only screen and (max-width: 40em) { 
      left: 0px;
    }
}

.darker {
    background: rgba(0, 0, 0, 0.35);
}
.darkest {
    background: rgba(0, 0, 0, 0.9);
}
.plus10v {
  position: relative;
  top: 10px;
}



h2,h3 {
    color: white;
    font-size: 16px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    font-weight:bold;
}
.big-title, .bigger-title,.medium-title {
    margin-bottom: 0px;
    font-family: 'Dancing Script';
}
.bigger-title {
    font-size: 48px;
    font-weight:bold;

    @media only screen and (max-width: 40em) { 
    font-size: 50px;
    line-height: 42px;
    padding-left: 4px;
    }
}

.big-title {
    font-size: 40px;
    @media only screen and (max-width: 40em) { 
    font-size: 35px;
    font-weight: bold;
    line-height: 34px;
    }
}
.medium-title {
    font-size: 39px;
    margin-bottom: 6px;
}

.small-title {
    font-size: 15px;
    margin-top: -2px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: normal;

    @media only screen and (max-width: 40em) { 
    margin-top: 13px;
    }
}
.catch-title {
    font-size: 18px;
    margin-top: -2px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: normal;

    @media only screen and (max-width: 40em) { 
    margin-top: 13px;
    }
}

.search-title {
    font-size: 14px;
    margin-top: -2px;
    margin-bottom: 20px;
    font-weight: normal;

    strong {
      font-size: 16px;
    }

    @media only screen and (max-width: 40em) { 
    font-size: 12px;
    margin-top: 7px;
    margin-bottom: 0px;
    font-weight: normal;
    strong {
      font-size: 14px;
    }
    }
}

.landing-title {
    font-size: 18px;
    margin-top: -12px;
    margin-bottom: 50px;
    font-style: italic;
    font-weight: normal;
}

.buttons {
    padding-top: 20px;

    .columns {
        padding: 0 6px;
    }
}

button, .button {
        background: rgba(0,0,0,0.4) !important;
        box-shadow: none;
        border: none;
        font-size: 12px;
        text-transform: uppercase !important;
        font-weight:bold !important;

        &.action {
            background-color: #ff4e96 !important;
            border: none;
            line-height: 20px;
        }
        &.big {
            height: 41px;
            line-height: 41px;
            font-size: 13px;
            padding-top:0px;
        }
        &.small {
            height: 28px;
            line-height: 28px;
            margin-bottom: 10px;
            font-size: 12px;
            padding-top:0px;
        }
}

.big-logo {
  text-indent: -10000em;
  background-image: image-url('logo.svg');
  background-repeat: no-repeat;
  display: block;
  width: 420px;
  height: 140px;
  background-size: 100%;
  background-position: 50%;
  margin: auto;

  @media only screen and (max-width: 40em) { 
      width: 90%;
      margin-bottom: -33px;
      }
}

.top-bar {
    margin-left: -20px;
    background: none ;

    .name h1 {
      text-indent: -10000em;
      background-image: image-url('logo.svg');
      background-repeat: no-repeat;
      display: block;
      width: 115px;
      background-size: 100%;
      background-position: center center;

      @media only screen and (max-width: 40em) { 
      margin-left: 15px;
      }


    }

    .top-bar-section ul {
        background: none !important;
        width: auto !important;

        @media only screen and (max-width: 40em) { 
            float: right !important; 
            margin-right: -8px;
        }

        li {
          @media only screen and (max-width: 40em) { 
            float: left !important;
            margin-top: -4px;    
          }
          &.hidden-on-mobile {
            @media only screen and (max-width: 40em) { 
            display: none;    
            }
          }

        }


        a {
          opacity: 0.8;
          font-weight:bold;
          &:hover {
            opacity: 1;
            background:none !important;
          }
        }

        .user {
            font-weight: bold;
            font-size: 12px;

            img {
                width: 32px;
                height:32px;
                margin-top:-2px;
                margin-left:5px;
                border: 2px solid rgba(255,255,255,0.4);
                border-radius: 20px;
            }
        }
    }
    .logout {
        text-indent: -10000em;
        background-color: transparent;
        border: none;
        display: block;
        width: 22px;
        height: 22px;
        -webkit-appearance: none !important;
        background-image: image-url('logout.png');
        background-repeat: no-repeat;
        cursor: pointer;
        margin-top:2px;
        margin-left:-4px;
        margin-right:4px;
        opacity: 0.65;

        &:hover {
          opacity: 1;
        }

        @media only screen and (max-width: 40em) { 
          position: relative;
          top: 12px;
          margin-left: 10px;    
        }

    }
}

.top-zone {
    padding: 120px 0px 150px;

    @media only screen and (max-width: 40em) { 
    padding: 40px 0px 40px;
    }

    form {

        input  {
            height: 41px;
            font-size: 15px;
            padding-left: 35px;
        }

    }

    &.small {
        padding: 30px 0px;

        @media only screen and (max-width: 40em) { 
        padding: 25px 0px 20px;
    }
    }

    &.medium {
        padding: 40px 0px;
    }
}



.main-zone {
    background: rgba(0, 0, 0, 0.3);
    padding: 0px;
    min-height: 450px;

    h2.white-title {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
.secondary-zone {
    background: rgba(0, 0, 0, 0.6);
    padding: 0px;
    min-height: 450px;

    h2.white-title {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}


.picto {
   background-position: center center;
   background-repeat: no-repeat;
   display: block;
   margin: 0 auto;
   background-size: 25px;
   text-indent: -10000em;

   &.small {
       background-size: 20px;
   }

   &.medium {
       margin-top: 6px;
       background-size: 40px;
       background-position: top center;
       padding-top: 53px;
       text-align: center;
       text-indent: 0em;
       font-size: 14px;
   }

   &.big {
       width: 120px;
       height: 120px;
       background-color: rgba(255,255,255,0.1);
       background-size: 45px;
       background-position: center center;
       padding-top: 0px;
       text-indent: -10000em;
       border-radius:80px;
       border: 3px solid white;
   }

   &.hippie {
        background-image: image-url('hippie.svg');
   }
   &.cool {
        background-image: image-url('cool.svg');
   }

   &.chic {
        background-image: image-url('chic.svg');
   }

   &.allday {
        background-image: image-url('allday.svg');
   }
   &.day {
        background-image: image-url('day.svg');
   }
   &.night {
        background-image: image-url('night.svg');
   }
   &.couple {
        background-image: image-url('couple.svg');
   }
   &.single {
        background-image: image-url('single.svg');
   }
}

.inside {
    font-size: 18px;
    color: #d2d2d2;
    position: absolute;
    left: 21px;
    top: 12px;
    width: 16px;
    text-align: center;
}

.datepicker.dropdown-menu {
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 0;
    border: 0;
}

.datepicker td.active.day, .datepicker th.active.day {
    background: #ff4e96;
    color: white;
}

.chosen-drop {
    color:black;
}

.chosen-container b {
  display:none !important;
}



#alerts {
  position:absolute;
  left:0;
  right:0;
  z-index: 1000;


  .notice {
    background-color: rgba(64, 183, 142, 0.65);
    border: none;
    font-weight: normal;
  }
  .warning {
    background: rgba(255, 210, 32, 0.7);
    border: none;
    font-weight: normal;
  }
  .error {
    background: rgba(255, 210, 32, 0.7);
    border: none;
    font-weight: normal;
  }

}
[data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error {
background: rgba(255, 210, 32, 0.7);
}
.plaintext {
  padding: 40px;
  background: rgba(255, 255, 255, 0.82);
  color: black;
  h1 {
        font-family: 'Ubuntu';
        font-size: 30px;
        color: black;
        font-weight: 500;
        margin-bottom: 15px;
        padding: 0;
    }
  p.p1, p.p2, li.li1, li.li2 {
  padding: 0px;
  margin: 0.0px 0.0px 15px 0.0px;
  font: 14.0px Helvetica;
  color: #333333;
    line-height: 1.5em;

  }

  span.s1 {color: #4183c4}
  ol.ol1 {list-style-type: decimal}  
}

// fixing foundation column positioning
[class*="column"] + [class*="column"]:last-child {
float: left !important; 
}

ul.social_links li {
  display: inline;
  a {
    margin: 0 4px;
    color: #FFFFFF;
    font-size: 45px;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
  }
}
