// Place all the styles related to the me controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile {

  padding-top: 25px;

  img {
      width: 160px;
      height: 160px;
      border: 3px solid rgba(0,0,0,0.11);
  }

  label {
      color: white;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 10px;
          text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);

  }

  input  {
      height: 38px;
      font-size: 15px;
      box-shadow: 0 0 0 3px hsla(0, 0%, 0%, 0.14);
      margin-bottom: 30px;
  }
  select, .chosen-container-single .chosen-single {
      -webkit-appearance: none !important;
      background-color: white;
      color: rgba(0, 0, 0, 0.75);
      font-size: 15px;
      padding: 0.5em;
      height: 38px;
      font-size: 15px;
      border: none;
      border-radius: 0;
      box-shadow: 0 0 0 3px hsla(0, 0%, 0%, 0.14);
      margin-bottom: 30px;
      background-image: image-url('arrow-down.png');
      background-position: 95% center;
      background-repeat: no-repeat;
      cursor: pointer;
  }

  .chosen-container-single .chosen-drop {
      margin-top: -25px;
      border-radius: 0;
      background-clip: padding-box;
  }
}

.guide-text {
    font-size: 12px;
    line-height: 1.4em;
}

.custom.checkbox {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 25px;
    border: 3px solid rgba(255,255,255, 0.7);
    margin: 0 auto;
    margin-bottom: 10px;

    &.selected {
        background-color: rgba(0,0,0,0.5);
        border: 0px;
        width: 44px;
        height: 44px;

    }
}
label.collection_check_boxes {
    font-weight: normal;
    font-size: 12px;
    text-shadow: none;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.hidden-field {
    display:none;
}

.user_description {
  margin-top: 20px;
  margin-bottom: 30px;
}

.content-title-row {
    height: 220px;
    
    h1 {
        font-family: 'Ubuntu';
        font-size: 40px;
        color: white;
        font-weight: 500;
        margin: 0;
        padding: 0;
        margin-top: -7px;
        margin-left: 15px;
    }

    .additional-info {
        margin-left: 15px;
        font-size: 15px;

        span {
            margin-right: 15px;
            
            &:before {
                opacity: 0.5;
                margin-right: 5px;
            }

        }
    }

    .description {
        font-size: 14px;
        line-height: 1.5em;
        margin-left: 15px;
        margin-top: 20px;        font-style: italic;
        overflow: hidden;
        height: 65px;
    }

}
