// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.friends-results, .friendsOf-results, .locals-results {
padding-top: 20px;
}

#contact-modal, #contact-modal h2 {
    color: black;
}

.results .trip-message, .results .relationship,.results .composition {
    display:none !important;
}

#add-modal, #edit-modal {

padding: 15px;

    h4 {
        font-size: 23px;
        margin-bottom: 15px;
        font-family: 'Ubuntu';
        font-weight: bold;
        color: #505050;
    }

    label {
        width: 100%;
        margin-bottom: 6px;
        display: block;
        font-size: 14px;
    }

    form {
        padding: 0px;
        margin-bottom: 0px;

        input, select, textarea   {
            background: #efefef;
            border: none;
            box-shadow: none;
            height: 38px;
            font-size: 15px;
            margin-bottom: 20px;
        }
        input {
                padding-left: 35px;
        }
        .button {
            padding-left: 0 !important;
            padding-top: 0 !important;
            line-height:38px !important;
        }
         select, .chosen-container-single .chosen-single {
              -webkit-appearance: none !important;
              color: rgba(0, 0, 0, 0.75);
              font-size: 15px;
              padding: 0.5em;
              height: 38px;
              font-size: 15px;
              border: none;
              border-radius: 0;
              background-image: image-url('arrow-down.png');
              background-position: 95% center;
              background-repeat: no-repeat;
              cursor: pointer;
        }
             .chosen-container-single .chosen-drop {
              margin-top: -25px;
              border-radius: 0;
              background-clip: padding-box;
        }
        .inside {
         color: #bebebe;
         margin-top: 25px;
        }
    }
    .delete-button {
      color: #8D8D8D;
      line-height: 36px;
      float: right;

      &:hover {
        color: #ff4e96;
      }
      &:before {
        margin-right: 6px;
      }
    }
}

.noresults {
  padding-top:50px;
}
