// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
    display: block;
    background-color: white;
    color: #505050;
    height: 105px;
    margin-bottom: 23px;
    cursor: pointer;

    // width: 32%;
    // float: left;
    // margin-left: 1%;

    .left-trip-box, .left-user-box  {
    float: left;
    width: 70px;


        img {
        width: 70px;
        cursor: help;

            &:hover {
                opacity: 0.8;
            }
        }

    }
    .right-user-box  {
    float: right;
    width: 35px;
    }

    .left-trip-box, .right-user-box {
        margin: 0px;

        .mood, .time, .relationship {
            display: block;
            width: 35px;
            height: 35px;
            float: left;
            color: rgba(255,255,255,0.5);
            line-height: 35px;

            span {

               width: 100%;
               height: 100%;
               opacity: 0.65;
               margin-top: -1px;
            }
        }
        .mood {
            text-align: center;

            &.blue {
               background-color: #3b5998;
            }
            &.green {
                background-color: #40a4a3;
            }
            &.yellow {
                background-color: #ffaa00;
            }


        }
        .time {
            background-color: lighten(#3b5998, 20%);
            &.blue {
               background-color: lighten(#3b5998, 20%);
            }
            &.green {
                background-color: lighten(#40a4a3, 20%);
            }
            &.yellow {
                background-color: lighten(#ffaa00, 20%);
            }
        }
        .relationship {
            background-color: lighten(#3b5998, 35%);
            &.blue {
               background-color: lighten(#3b5998, 35%);
            }
            &.green {
                background-color: lighten(#40a4a3, 35%);
            }
            &.yellow {
                background-color: lighten(#ffaa00, 35%);
            }
        }
    }

    .right-trip-box, .middle-user-box {
        width: auto;
        padding: 7px 10px 10px 80px;

        a.name {
        color: #444444;
        font-family: 'Ubuntu';
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            color: black;
        }

        }

        .age-city {
            color: #8a8a8a;
            font-size: 11px;
            margin-bottom: 14px;
        }

        .location, .dates, .composition {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 7px;
            margin-left: -7px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;

            &:before {
                opacity: 0.4;
                margin-left: 0px;
                width: 25px;
                text-align: center;
                display: block;
                float: left;
                overflow: visible;
            }
        }

        .dates:before, .composition:before {
                font-size: 10px;
                margin-top: 1px;
        }

    }

    .middle-user-box {
        float: left;
        width: 205px;
        padding: 5px 10px 10px 10px;

         @media only screen and (max-width: 40em) {
        width: 175px;
        }

        .age-city {
            color: #8a8a8a;
            font-size: 11px;
            margin-bottom: 9px;
        }
    }

&.user {
    height: 70px;
}


}

.reveal-modal {
    padding: 0px;

    .left-trip-box {

        width: 105px;


         img {
        width: 105px;
        }
    }

    .right-trip-box {
        padding: 13px 13px 13px 125px;

        .name {
        font-size: 23px;
        margin-bottom: 5px;
        }

        .age-city {
            font-size: 14px;
            margin-bottom: 20px;
        }

        .location, .dates, .composition {
            width: 100%;
            font-size: 13px;
            margin-bottom: 9px;
        }
        .dates:before, .composition:before {
                margin-top: 2px;
        }

    }

    .trip-message .right-trip-box {
        padding-top: 0px;
        color: #626262;
        font-size: 14px;
        line-height: 1.4em;
    }

    .infos  {
        min-height: 140px;
    }

    .answer {
        background-color: #efefef;
        min-height: 122px;
        padding-right:3px;

        .profile-pic {
            margin: 15px 0px 0px 14px;

        }
        textarea {
            color: #5E5E5E;
            text-shadow: 0px 1px white;
            background-color: transparent;
            border: none;
            box-shadow: none;
            padding: 0px;
        }
    }

}


.profile-trip-box {

    display: block;
    background-color: white;
    color: #505050;
    margin-bottom: 20px;
    height: 275px;

    width: 32%;
    float: left;
    margin-left: 1%;

    .trip-infos {
        padding: 12px;


        .location {
            font-family: 'Ubuntu';
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 8px;
            margin-top: 5px;
            }

        .dates, .composition {
            width: 100%;
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 6px;
            margin-left: 1px;

            &:before {
                opacity: 0.4;
                margin-left: -7px;
                width: 22px;
                text-align: center;
                display: block;
                float: left;
            }
        }

        .dates:before, .composition:before {
                    font-size: 10px;
                    margin-top: 1px;
        }

        .trip-message {
            margin-top: 8px;
            font-size: 12px;
            line-height: 1.4em;
            height: 64px;
            overflow: hidden;
        }

    }

}
