// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
            span {
               
               width: 100%;
               height: 100%;
               opacity: 0.65;
               margin-top: -1px;

               &.chic {
                    background-image: url('chic.svg');
               } 
               &.allday {
                    background-image: url('allday.svg');
               } 
            }
